
{% extends "layout.jinja2" %}

{% block content %}
<form method="POST">
        <table>
                <tr>
                        <td><label for="category">Title:</label></td>
                        <td><input type="text" name="category" required /></td>
                </tr>
                <tr>
                        <td><label for="description">Body:</label></td>
                        <td>
                                <textarea name="description" placeholder="Describe your post">
                                </textarea>
                        </td>
                </tr>
                <tr>
                        <td></td>
                        <td><input type="submit" value="Post New Post" /></td>
                </tr>
        </table>
</form>
{% endblock %}