{% extends 'layout.jinja2' %}

{% block content %}
    <article>
        <h1><a href="{{ request.url }}"> {{ entry.id }}</a></h1>
        <hr />
        <p>Created <strong>{{ entry.creation_date }}</strong></p>
        <hr />
        <p>{{ entry.body }}</p>
    </article>
{% endblock %}