{% extends 'layout.jinja2' %}

{% block content %}
    <article>
        <h1><a href="{{ request.url }}"> {{ title }}</a></h1>
        <hr />
        <p>Created <strong>{{ entries.creation_date }}</strong></p>
        <hr />
        <p>{{ body }}</p>
    </article>
{% endblock %}